@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --mustard: #fae6b1;
  --orange: #ffa101;
  --lightBlue: #b3dee5;
  --darkBlue: #31525b;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: var(--lightBlue);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  text-align: center;
  background-color: var(--darkBlue);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
}

.mainPage {
  text-align: center;
}

#recipes-main-div {
  padding: 25px;
  /* background: blue; */
}

#recipe-search {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--mustard);
  border: solid 3px whitesmoke;
  border-radius: 5px;
  padding: 0px 45px 15px 45px;
  margin: 15px 0px 15px 0px;
  min-width: 600px;
}

.search-category {
  /* background-color: purple; */
  display: inline-block;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

span:hover {
  background-color: var(--darkBlue);
  color: whitesmoke;
  /* font-weight: bold; */
}

#delete {
  font-size: small;
}

#logout {
  margin-left: 65%;
}

.errorLogin {
  margin-left: 40%;
  background-color: var(--mustard);
  width: 20%;
  text-align: center;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-color: var(--mustard);
  padding: 0px 60px;
  border-radius: 10px;
}
.button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: var(--darkBlue);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.headerTitle span:hover {
  background-color: var(--orange);
  color: whitesmoke;
  font-weight: bold;
}

.logout {
  margin-left: 60%;
}

.viewAllUsers {
  margin-left: 20%;
}

.capitalise {
  text-transform: capitalize;
}
.small {
  /* font-size: small; */
}
#recipe-name {
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
}
#bold {
  font-weight: bolder;
}

#recipe-results {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#recipe-card {
  background-color: var(--orange);
  display: inline-block;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
